<h1>The Weather for the city <%= data%> is</h1>

<p>The Temperature is <strong><%=temp - 273.15%></strong> degree celcius.</p>
<p>It feels like <strong><%= feel_temp - 273.15%></strong> degree celcius.</p>
<p>The Minimum temperature is <strong><%=min_temp-273.15%></strong> degree celcius.</p>
<p>The Maximum temperature is <strong><%=max_temp-273.15%></strong> degree celcius.</p>
<p>The Humidity is <strong><%=humidity%></strong>.</p>
<p>The Wind Speed is <strong><%=wind%></strong> mph.</p>